extends layout

block content
  h1= title
  p Senior Design Mini Project

  if !user
    p Please log in to Twitter before starting by <a href="/twitter_login">clicking here</a>
  else
    p Welcome, #{user["username"]}
    p Our website has two functions: 
    h3 1. You can give us the username of any twitter user, and we can give you how "postive" or "negative" they were, based on their most recent tweets 
    form(action="/sentiment")
      input(type="text" id="follower" name="follower")
      br
      input(type="submit" value="Evaulate follower")
    h3 2. You can also click the button below to get suggestions on how to reply to replies on somebody's post 
    p In more detail, there are several parameters you can pass, or you press the submit button with the default values
    form(action="/get_sugesstions")
      label(for="username") Any username
      br
      input(type="text" id="username" name="username")
      br
      label(for="top_followers") The top N replies (by likes) from which you will get suggestions for (default is 10)
      br
      input(type="text" id="top_followers" name="top_followers" value="10")
      br
      label(for="oldest_time") The maximum age of your tweets (in hours), from which we will look at to find replies (default is 48)
      label(for="oldest_time" style="font-size:11px") I.e If you chose 10, we'll find suggestions for replies on tweets you made 10 hours ago
      br
      input(type="text" id="oldest_time" name="oldest_time" value="48")
      br
      input(type="submit" value="Get suggestions!")
